@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .clip-path {
        clip-path: inset(0 0 100% 0);
        &-open {
            clip-path: inset(0 0 0 0);
        }
    }
    .gradient {
        background: linear-gradient(348deg, #5239fa 0%, rgba(255, 255, 255, 0) 100%);
    }
}
